/target/
/.settings/
/.classpath
/.project
.idea/
/*/.iml
*.iml
*.class
*.jar
LOG_PATH_IS_UNDEFINED/*
logs/*
target/*
target/classes/*
*/target
*/target/*
*/.project
*/*.iml
*/.springBeans
/.springBeans
/.project
ddbb-vc/.settings/org.eclipse.wst.common.project.facet.core.xml
ddbb-vc/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
ddbb-vc/.settings/org.eclipse.m2e.core.prefs
ddbb-vc/.settings/org.eclipse.jdt.core.prefs
ddbb-vc/.settings/org.eclipse.core.resources.prefs
ddbb-vc/.classpath
jenkins.sh
/.settings/
/ddbb-thread/
/ddbb-thread/*
*/.settings/