<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/common.css" media="all">
    <script type="text/javascript" src="/static/layui/layui.js"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/js/echarts/echarts.min.js"></script>
    <script type="text/javascript" src="/static/js/echarts/highcharts.js"></script>
    <!--<script type="text/javascript" src="/static/js/home/console.js"></script>-->
    <style>
        body {
            background-color: white;
        }
        #charts {
            height: 30%;
        }
        #pie {
            height: 500px;
            width: 100%;
        }
        #line {
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>

<!--报表数据-->
<div id="charts" class="layui-row">
    <div class="layui-col-md6 col"><div id="pie"></div></div>
    <div class="layui-col-md6 col"><div id="line"></div></div>
</div>

<!--表格数据-->
</body>
<script>
    // 饼图
    var pie = echarts.init(document.getElementById('pie'));
    reLoad();
    lineCharts();
    function reLoad(){
        $.ajax({
            url: "/console/pie",
            headers: {'token': localStorage.getItem('token')},
            dataType:'json',
            contentType:'application/json;charset=UTF-8',
            async: false,
            method: 'POST',
            success: function (res) {
                if (res.code === 200) {
                    var pieVo = res.data;
                    pieOption = {
                        backgroundColor: '#fff',
                        title: {
                            text: '库存使用比例',
                            left: 'center',
                            top: 20,
                            textStyle: {
                                color: '#777'
                            }
                        },
                        tooltip: {
                            trigger: 'item',
                            formatter: '{a} <br/>{b} : {c} ({d}%)'
                        },
                        visualMap: {
                            show: false,
                            min: 0,
                            max: 2000,
                            inRange: {
                                colorLightness: [0.5, 1]
                            }
                        },
                        series: [
                            {
                                name: '访问来源',
                                type: 'pie',
                                radius: '55%',
                                center: ['50%', '50%'],
                                data: [
                                    {value: pieVo.fullQty, name: pieVo.fullDes},
                                    {value: pieVo.nullQty, name: pieVo.nullDes},
                                    {value: pieVo.forbidQty, name: pieVo.forbidDes},
                                    {value: pieVo.occQty, name: pieVo.occDes}
                                ].sort(function (a, b) { return a.value - b.value; }),
                                // roseType: 'radius',
                                label: {
                                    color: 'rgba(0, 0, 0, 0.3)'
                                },
                                labelLine: {
                                    lineStyle: {
                                        color: 'rgba(0, 0, 0, 0.3)'
                                    },
                                    smooth: 0.2,
                                    length: 10,
                                    length2: 20
                                },
                                itemStyle: {
                                    color: '#c23531',
                                    shadowBlur: 200,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                },
                                animationType: 'scale',
                                animationEasing: 'elasticOut',
                                animationDelay: function (idx) {
                                    return Math.random() * 200;
                                }
                            }
                        ]
                    };
                    pie.setOption(pieOption, true);
                } else if (res.code === 403) {
                    top.location.href = "/";
                } else {
                }
            }
        });
    }


    function lineCharts() {
        $.ajax({
            url: '/console/locIo/line/charts',
            headers: {'token': localStorage.getItem('token')},
            dataType: 'json',
            contentType: 'application/json;charset=UTF-8',
            method: 'POST',
            success: function (res) {
                var data = res.data;
                var dataPie = eval(data.rows);
                var title = {
                    text: '日入出库数量',
                    margin: 1,
                    style: {fontSize: '18px',color: '#777',fontWeight: 'bold'},
                    y: 35
                };
                var xAxis = {
                    categories: [getDate(-11), getDate(-10), getDate(-9), getDate(-8), getDate(-7), getDate(-6),
                        getDate(-5), getDate(-4), getDate(-3), getDate(-2), getDate(-1), getDate(-0)]
                };
                var yAxis = {
                    title: {
                        text: '入/出库数量'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                };
                var tooltip = {};
                var legend = {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                };
                var series = dataPie;
                var json = {};
                json.title = title;
                json.xAxis = xAxis;
                json.yAxis = yAxis;
                json.tooltip = tooltip;
                json.legend = legend;
                json.series = series;
                json.credits = {enabled: false};
                $('#line').highcharts(json);
            }
        });
    }




    function getDate(value){
        var date = new Date();// 获取当前时间
        date.setDate(date.getDate() + value);// 设置天数 -1 天
        return date.Format("MM-dd");
    }
    /**
     * 日期格式化
     */
    Date.prototype.Format = function (fmt) {
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length === 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
</script>
</html>