<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/common.css" media="all">
</head>
<body>

<!-- 详情 -->
<div id="data-detail" class="layer_self_wrap">
    <form id="detail" class="layui-form">
        <div class="layui-form-item" style="display:none">
            <label class="layui-form-label">编号</label>
            <div class="layui-input-block">
                <input id="id" class="layui-input" type="text" placeholder="编号">
            </div>
        </div>
        <div class="layui-inline"  style="float: left; width: 31%;">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-inline">
                <input id="name" class="layui-input" type="text" placeholder="名称">
            </div>
        </div>
        <div class="layui-inline"  style="float: left; width: 31%;">
            <label class="layui-form-label">路径</label>
            <div class="layui-input-inline">
                <input id="url" class="layui-input" type="text" placeholder="路径">
            </div>
        </div>
        <div class="layui-inline"  style="float: left; width: 31%;">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-inline">
                <select id="status">
                    <option value="" style="display: none"></option>
                    <option value="0">失效</option>
                    <option value="1">有效</option>
                </select>
            </div>
        </div>

        <div id="data-detail-btn" class="layui-btn-container layui-form-item">
            <div id="data-detail-submit" type="button" class="layui-btn layui-btn-normal" lay-submit lay-filter="edit">编辑</div>
            <div id="data-detail-close" type="button" class="layui-btn" lay-submit lay-filter="close">关闭</div>
        </div>
    </form>
</div>
</body>
<script type="text/javascript" src="/static/js/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/js/resource/resource.js" charset="utf-8"></script>
</html>

