<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>user</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/user/user.css" media="all">
</head>
<body>

<table class="layui-hide" id="user" lay-filter="user"></table>
<!--<button class="layui-btn layui-btn-normal" onclick="add()">新增</button>-->
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" id="btn-add">新增</button>
        <button class="layui-btn layui-btn-sm" id="btn-refresh">刷新</button>
    </div>
</script>

<script type="text/html" id="operate">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script type="text/javascript" src="/static/js/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/js/user/user.js" charset="utf-8"></script>

<div id="data-add" class="layer_self_wrap" style="width:500px;display:none;">
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input id="username" class="layui-input" type="text" placeholder="用户名">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-block">
                <input id="mobile" class="layui-input" type="text" placeholder="手机号">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input id="password" class="layui-input" type="text" placeholder="密码">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <input id="status" class="layui-input" type="text" placeholder="状态">
            </div>
        </div>
        <div class="layui-form-item">
            <a type="button" class="layui-btn btn-submit" lay-submit lay-filter="add">添加</a>
        </div>
    </form>
</div>
</body>
</html>