/*自动补全*/
.cool-auto-complete .layui-unselect.layui-form-select {
    display: none;
}

.cool-auto-complete-div {
    cursor: pointer;
}

.cool-auto-complete-window {
    width: 100%;
    display: none;
    position: absolute;
}

.cool-auto-complete-window-input {
    width: 100%;
}

.cool-auto-complete-window-select {
    width: 100%;
}
