<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <style>
        #container {
            padding: 15px;
            margin-top: 15px
        }
        .layui-card-body {
            padding: 20px 15px 5px 15px;
        }
        .layui-form-item {
            margin-bottom: 18px;
        }
        .layui-form-label {
            color: #999!important;;
            width: 60px;
        }
        .layui-input-block {
            margin-left: 90px;
        }
    </style>
</head>
<body id="body">
<div id="container">
    <fieldset class="layui-elem-field">
        <legend>设置我的资料</legend>
        <div class="layui-card-body">
            <div class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">账号名</label>
                    <div class="layui-input-inline">
                        <input id="username" class="layui-input" type="text" placeholder="请输入" autocomplete="off">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">手机号</label>
                    <div class="layui-input-inline">
                        <input id="mobile" class="layui-input" type="text" placeholder="请输入" autocomplete="off">
                    </div>
                    <div class="layui-form-mid layui-word-aux">一般用于后台登入</div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn layui-btn-normal" lay-submit lay-filter="save">确认修改</button>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>
</body>
<script type="text/javascript" src="/static/js/jquery/jquery-3.3.1.min.js"></script>
<script src="/static/layui/layui.js"></script>
<script>
    layui.use(['form'], function(){
        var form = layui.form,
            layer = layui.layer,
            $ = layui.jquery;

        form.on('submit(save)', function (data) {
            console.log(data);
            var user = {
                mobile: $("#mobile").val(),
                password: $("#password").val()
            };
            $.ajax({
                url: "/login.action",
                data: user,
                method: 'POST',
                success: function (res) {
                    if (res.code === 200){
                        localStorage.setItem("token", res.data.token);
                        localStorage.setItem("username", res.data.username);
                        window.location.href = "/index";
                    } else {
                        layer.msg(res.msg)
                    }
                }
            });
            return false;
        });
    });
</script>
</html>