<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    p {
        text-align: center;
        font-size: 100px;
    }
</style>
<body id="body1" onload="high()">
<p>Welcome to</p>
<p>嘉善</p>
</body>
<script >
    var flag = false;
    function high()
    {
        if(flag)
        {
            window.document.getElementById("body").style.background="red";
            flag = false;
        }
        else
        {
            window.document.getElementById("body").style.background="blue";
            flag = true;
        }
        setTimeout("high()",100)
    }

</script>
</html>