<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <style type="text/css">
        * {
            padding: 0;
            margin: 0;
        }

        table {
            margin: 100px auto;
            border: 1px solid #000;
            border-collapse: collapse; /*设置表格的边框是否被合并为一个单一的边框*/
            border-spacing: 0; /*设置相邻单元格的边框间的距离*/
        }

        tr {
            width: 300px;
            height: 50px;
            line-height: 50px;
            border-bottom: 1px solid #000;
            /*background-color: pink;*/
        }

        td, th {
            width: 99px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            border-right: 1px solid #000;
        }
    </style>
    <script type="text/javascript" src="/static/js/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/js/billDetail/billDetail.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/common.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/cool.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/jquery/jQuery.print.js"></script>

    <script type="text/javascript" src="/static/layui/layui.js" charset="utf-8"></script>
</head>
<style>


</style>
<body>

</body>
</html>

<script type="text/javascript">
    window.onload = function () {
        var afterUrl = window.location.search.substring(1);
        var afterEqual = afterUrl.substring(afterUrl.indexOf('=') + 1).toUpperCase();
        $.ajax({
            url: "/billDetail/outStockPrintList",
            headers: {'token': localStorage.getItem('token')},
            data: {ids: afterEqual},
            method: 'POST',
            success: function (res) {
                if(res.code==200)
                {
                    for(var i =0;i<res.data.outStockDtos.length;i++){
                        //将数据显示在页面上
                        var str = "<div style='height: 1030px;width: 100%;'> <br><div align='center' style='font-size: 28px;font-weight: 600px;margin-bottom: 10px'>杭州理想塑胶有限公司销售出库单</div>" +
                            "<div style='width: 100%;'>" +
                            "<div style='margin-bottom: 5px;width: 70%;float: left;'>打印日期:  "+res.data.outStockDtos[i].stockDtos[0].printTime +"</div>" +
                            "<div style='margin-bottom: 5px;width: 30%;float: left;text-align: right;'>页面:  "+ res.data.outStockDtos[i].index+"/"+ res.data.outStockDtos[i].size+"</div>" +
                            "<div style='margin-bottom: 5px;width: 50%;float: left;'>单据号码:  "+res.data.outStockDtos[i].stockDtos[0].billNumber +"</div>" +
                            "<div style='margin-bottom: 5px;width: 50%;float: left;'>单据日期:  "+res.data.outStockDtos[i].stockDtos[0].billCreateTime +"</div>" +
                            "<div style='margin-bottom: 5px;width: 50%;float: right;'>业务人员:  "  +"</div>" +
                            "<div style='margin-bottom: 5px;'>客户全称:  "+res.data.outStockDtos[i].stockDtos[0].customer +"</div>" +
                            "<div style='margin-bottom: 15px;'>制单人员:  "+res.data.outStockDtos[i].stockDtos[0].orderMakinger +"</div>" +

                            "</div>" +
                            "<div    align='center'>" +
                            // "<div style='margin-bottom: 5px'>单据日期:  "+res.data[0].billCreateTime +"</div>" +
                            // "<div>业务人员名称:  "+res.data[0].customer +"</div>" +
                            "</div>";
                        str += "<table  cellpadding='0'  style='margin: 0px;width: 100%;height: 100%;table-layout:fixed;word-break:break-all;'>" +
                            "<thead><tr style='height: 60px;'>" +
                            "<th style='width: 6%;'>栏号</th><th style='width: 10%;'>产品名称</th><th style='width: 18%;'>批次号</th><th style='width: 30%;'>规格型号</th><th style='width: 6%;'>数量</th><th style='width: 8%;'>单价</th><th style='width: 10%;'>备注</th></tr>" +
                            "</thead>" +
                            "<tbody>";
                        //遍历数据
                        for (var j = 0; j < res.data.outStockDtos[i].stockDtos.length; j++) {
                            str += "<tr><td>" + j + "</td><td>" + res.data.outStockDtos[i].stockDtos[j].billName + "</td><td>" + res.data.outStockDtos[i].stockDtos[j].seq + "</td><td>" + res.data.outStockDtos[i].stockDtos[j].specifications + "</td><td>" + res.data.outStockDtos[i].stockDtos[j].amount + "</td><td>" + res.data.outStockDtos[i].stockDtos[j].price + "</td><td>" + res.data.outStockDtos[i].stockDtos[j].remark + "</td></tr>";
                        }
                        //遍历完成之后
                        str += "</tbody></table>";
                        str+="<br/></div>"
                        //将表格添加到body中

                        $('body').append(str);
                    }


                    $('body').print();

                }else
                {
                   alert(res.msg)
                    window.close();
                }

            }
        })
    }
</script>