<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cool.demo.asrs.mapper.BasCrnpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cool.demo.asrs.entity.BasCrnp">
        <id column="crn_no" property="crnNo" />
        <result column="in_enable" property="inEnable" />
        <result column="out_enable" property="outEnable" />
        <result column="crn_sts" property="crnSts" />
        <result column="wrk_no" property="wrkNo" />
        <result column="crn_err" property="crnErr" />
        <result column="frm_locno" property="frmLocno" />
        <result column="frm_sta" property="frmSta" />
        <result column="to_sta" property="toSta" />
        <result column="to_locno" property="toLocno" />
        <result column="appe_user" property="appeUser" />
        <result column="appe_time" property="appeTime" />
        <result column="modi_user" property="modiUser" />
        <result column="modi_time" property="modiTime" />
        <result column="hp_mk" property="hpMk" />
        <result column="retrieve_mk" property="retrieveMk" />
        <result column="ctl_hp" property="ctlHp" />
        <result column="ctl_rest" property="ctlRest" />
        <result column="emp_in" property="empIn" />
        <result column="tank_qty" property="tankQty" />
        <result column="tank_qty1" property="tankQty1" />

    </resultMap>

</mapper>
