<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cool.demo.asrs.mapper.BasWrkIotypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cool.demo.asrs.entity.BasWrkIotype">
        <id column="io_type" property="ioType" />
        <result column="io_pri" property="ioPri" />
        <result column="io_desc" property="ioDesc" />
        <result column="modi_user" property="modiUser" />
        <result column="modi_time" property="modiTime" />
        <result column="appe_user" property="appeUser" />
        <result column="appe_time" property="appeTime" />

    </resultMap>

</mapper>
