<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cool.demo.manager.mapper.BillDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cool.demo.manager.entity.BillDetail">
        <id column="id" property="id" />
        <result column="bill_id" property="billId" />
        <result column="amount" property="amount" />
        <result column="box_number" property="boxNumber" />
        <result column="boxer" property="boxer" />
        <result column="create_time" property="createTime" />
        <result column="status" property="status" />

    </resultMap>
 <select id="getBillDetailByOrderIdandBoxNumber" resultMap="BaseResultMap" >
     select * from man_bill_detail where bill_id= ${billId} and box_number=${boxNumber}
 </select>
    <select id="getStatistics" resultType="java.lang.Integer">
        select count(*) from man_bill_detail where boxer = #{boxer} and TO_DAYS(boxing_time) = TO_DAYS(NOW())
    </select>

    <select id="getOutStockStatistics" resultType="java.lang.Integer">
        select count(*) from man_bill_detail where out_stocker = #{outStocker} and  TO_DAYS(out_stock_time) = TO_DAYS(NOW())
    </select>

    <select id="selectByBillId" resultType="com.cool.demo.manager.entity.BillDetail">
        select * from man_bill_detail where bill_id = #{billId}
    </select>

</mapper>
