<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cool.demo.manager.mapper.BillDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cool.demo.manager.entity.BillDetail">
        <id column="id" property="id" />
        <result column="bill_id" property="billId" />
        <result column="amount" property="amount" />
        <result column="box_number" property="boxNumber" />
        <result column="boxer" property="boxer" />
        <result column="create_time" property="createTime" />
        <result column="status" property="status" />

    </resultMap>

</mapper>
